.loop {
  @apply p-4;
  color: white;
}

.avatar {
  @apply rounded-full ml-3 w-10 h-10 border-2 border-solid border-white inline-block relative my-auto select-none;
  z-index: 999;
  cursor: pointer;
}

.avatar-img {
  width: 100%;
  border-radius: 50%;
}

.user-info {
  @apply relative flex flex-row flex-nowrap gap-3;
}

.tag-container {
  @apply pt-2;
}

.tag-javascript {
  @apply rounded-full mx-1 px-3 font-mono font-bold shadow-2xl select-none;
  background-color: rgb(255, 230, 0);
  text-shadow: 2px 4px 5px rgba(225, 225, 225, 0.05);
}

.tag-html {
  @apply rounded-full mx-1 px-3 font-mono font-bold shadow-2xl select-none;
  background-color: rgb(255, 94, 66);
}

.tag-css {
  @apply rounded-full mx-1 px-3 font-mono font-bold shadow-2xl select-none;

  background-color: rgb(0, 102, 255);
}

.loop-buttons {
  @apply flex flex-row flex-nowrap gap-3 ml-auto mr-4 self-center;
}

.loop-buttons > * {
  @apply w-10 h-10 rounded-full border-2 border-solid border-white;
}

.loop-buttons > *:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

.loop-content {
  @apply py-5;
}

.loop-content p {
  @apply font-mono py-2 px-4 rounded-md leading-6 shadow-2xl;
  background-color: rgba(225, 225, 225, 0.05);
}

.loop-info-buttons {
  @apply flex flex-row justify-between gap-3;
}

.loop-info-buttons > * {
  @apply m-auto;
}

/** COMMENTS */
.action-comment {
  @apply font-bold text-2xl cursor-pointer select-none;
}
