.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0.8px);
  opacity: 0.5;
  width: 25%;
}

.heading-home {
  @apply text-center text-white font-bold text-4xl pb-8;
}

.loops {
  @apply mb-20 mt-32 min-h-screen;
}

.loop-container {
  @apply flex flex-row justify-center gap-6;
}
