.heading-creator {
  @apply text-center text-white mt-14 pb-10;
}

.monaco-editor * {
  font-family: Consolas;
}

.monaco-editor .mtkz {
  display: contents !important;
}

.editor-container {
  @apply w-2/3 ml-auto m-auto text-center pt-5;
  @apply sm:w-1/2;
  @apply md:w-4/6 ml-auto mr-10;
  @apply lg:w-9/12 m-auto;
  @apply xl:w-9/12 m-auto;
  /* margin: 20px auto 20px auto; */
  /* align-content: center; */
}

.save-button {
  margin-top: 20px;
}
