* {
  color: #fff;
}

.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.178);
  min-height: 100vh;
  padding: 60px 30px;
  /* align-content: center; */
  justify-content: center;
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 1000;
  height: 400px;
  margin: 0 auto;
  margin-top: 7rem;
}

.card {
  width: 200px;
  height: 100%;
  background-color: #444;
}
