:root {
  --background-color: #efeff1;

  --primary: 145, 71, 255;
  --primary-color: 145, 71, 255; /* Violet */
  --secondary-color: 100, 40, 255;

  --font-family: "Poppins", sans-serif;

  --nav-background: #f7f7f8;

  --shadow-light: 0.5px 0.5px 20px rgba(0, 0, 0, 0.2);
  --shadow-dark: 0.5px 0.5px 20px rgba(225, 225, 225, 0.2);

  --text-light: #fff;
  --text-color: #444;
  --text-dark: #fff;
  --text-oscuro: #222;

  --animation-bezier: cubic-bezier(0.71, 0.01, 0.01, 1.35);
}

*:not(.editor) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

#root {
  @apply min-h-screen py-24 relative;
}

*::selection {
  background: rgb(var(--primary-color), 0.5);
  color: white;
}

body {
  background: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s var(--animation-bezier);
}

.btn-animation {
  transition: all 0.4s;
}

.btn-animation:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.404);
}

.btn-animation:active,
.btn-animation:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  @apply rounded-lg bg-white border-none text-gray-800 border-2 border-gray-800 p-2 mx-2 cursor-pointer shadow-md font-bold text-xs;
  @apply sm:w-20 sm:text-base;
  @apply md:w-28;
  @apply lg:w-32 lg:text-lg;
  color: rgb(var(--primary-color));
}

.btn-primary {
  @apply text-white;
  background-color: rgb(var(--primary-color));
}

.btn-expand {
  @apply w-40;
}

.btn-full {
  @apply w-full;
}
