.buttons-container {
  top: 1.5rem;
  right: 0rem;
  @apply absolute;
  @apply sm:top-5 sm:right-12;
  @apply md:top-7 md:right-12;
  @apply lg:top-12 lg:right-12;
}

.button:first-child {
  @apply bg-white text-gray-800 mb-2 sm:mb-0;
}

.button.go {
  @apply w-56 mt-12 mx-auto text-white font-bold text-lg;
}

.heading-secondary {
  @apply text-3xl font-bold text-center;
  color: var(--primary-color);
}
