.modal {
  @apply fixed top-0 left-0 w-full h-full opacity-0 pointer-events-none flex items-center justify-center z-50 invisible;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.445);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show {
  @apply opacity-100 visible pointer-events-auto;
}

.modal-content {
  @apply rounded-3xl py-4 w-11/12 overflow-y-scroll;
  max-height: 95%;
  @apply sm:py-10;
  @apply md:w-4/6;
  @apply lg:w-3/5;
  @apply xl:w-2/5;
  @apply 2xl:w-1/3;
  background: var(--background-color);
  border: 1px solid rgb(var(--primary-color), 0.7);
  box-shadow: 0 0 10px 2.5px rgb(var(--primary-color), 0.25);
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content h2 {
  @apply text-center text-3xl font-extrabold mb-2;
  @apply sm:text-5xl sm:mb-5;
  color: var(--text-color);
}

.modal-content h4 {
  @apply text-center text-lg font-semibold mb-2;
  @apply sm:text-xl sm:mb-5;
  color: var(--text-dark);
}

.form {
  @apply flex flex-col items-center justify-center;
}

.form div {
  @apply flex flex-col my-1 w-10/12;
  @apply md:w-8/12;
}

.form div span {
  @apply transition-all duration-300;
}

.form div label {
  @apply text-sm font-semibold mb-0;
  @apply sm:mb-1 sm:text-base;
  color: var(--text-color);
}

.form div input {
  @apply font-semibold p-2 border border-solid border-gray-300 rounded-lg text-gray-600 mb-2 bg-gray-100 text-sm;
  @apply sm:mb-4 sm:text-base;
  @apply caret-blue-600;
}

.form div input:focus {
  outline: 2px solid #09203f;
}

.form button {
  @apply text-center p-2 text-white font-semibold rounded-md text-sm border-none m-2 cursor-pointer w-10/12;
  @apply sm:text-base sm:m-5 sm:w-8/12;
}

.link {
  @apply text-center text-xs font-semibold m-3;
  @apply sm:text-base sm:m-5;
  color: var(--text-dark);
}

.linkTo,
.linkTo:visited,
.linkTo:active {
  @apply font-extrabold border-none no-underline cursor-pointer text-sm duration-300 bg-inherit;
  @apply sm:text-lg;
  color: rgb(var(--primary-color));
}

.linkTo:hover {
  @apply cursor-pointer underline;
  transform: scale(1.05);
}

/** Alerts form validation */
.error-validator {
  @apply !border !border-rose-500 border-solid !bg-rose-100;
}

.error-message {
  @apply text-rose-500 text-xs font-semibold text-end invisible opacity-0;
}

.success-validator {
  @apply !border-2 !border-blue-900 border-solid !bg-blue-100;
}

.show-span {
  @apply opacity-100 visible;
}

.show-span-form {
  @apply opacity-100 visible text-center;
}
