.about {
  @apply w-full;
}

.about-container {
  @apply flex flex-row w-full flex-wrap justify-evenly gap-8 mt-20 mb-20;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* @apply flex flex-col items-center justify-center; */
  @apply flex p-8 rounded-lg basis-6/12 text-center;
  @apply sm:basis-8/12;
  @apply md:basis-6/12;
  @apply lg:basis-4/12;
  @apply xl:basis-4/12;
  @apply 2xl:basis-2/12;
  background: linear-gradient(
    155deg,
    rgb(var(--primary-color), 0.5),
    rgb(var(--primary))
  );
  box-shadow: var(--shadow-dark);
}

.card-image-container {
  @apply flex justify-center items-center rounded-full bg-violet-600 shadow-2xl mb-4;
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 1530px) {
  .card-container {
    @apply basis-3/12;
  }
}

/* .card-image-container {
  @apply flex justify-center;
} */

.card-circle {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 100%;
}

.card-image {
  @apply w-full;
}

.card-title {
  @apply text-white text-4xl font-bold mt-auto;
}

.card-rol {
  @apply text-gray-200 text-xl font-medium mt-2;
}

.links-container {
  @apply mt-auto flex flex-row justify-center items-center gap-4 pt-10 pb-6;
}

.icons,
.icons:active,
.icons:visited {
  @apply text-4xl;
  color: var(--text-white);
  transition: all 0.2s;
}

.icons:hover {
  transform: scale(1.2);
}
