.about {
  margin-bottom: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  justify-content:flex-wrap;
  align-items: center;
  border-radius:20px ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.about-images {
  transition: 1s;
}

.about-images:hover {
  transform: scale(1.1);
}
.about-card:hover {
  transform: scale(1.1);
}

.about-info {
  padding: 20px;
  height: 455px;
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-about {
  max-width: 400px;
  width: 300px;
}

.button-about {
  width: 30px;
  height: 30px;
  border: 0px;
}

.buttonPrev {
  font-size: 50px;
}

.buttonNext {
  font-size: 50px;
}

