.intro {
  @apply grid py-12 px-4 grid-cols-1 gap-4;
  @apply sm:px-12;
  @apply md:place-items-center md:py-40;
  @apply lg:gap-x-8 lg:gap-y-4 lg:px-14 lg:py-52;
  @apply xl:grid-cols-2;
  background: linear-gradient(90deg, #09203f 0%, #537895 100%), #ffffff;
}

.intro-text {
  @apply flex flex-col justify-center mt-14;
  @apply sm:mt-16;
  @apply md:mt-16;
  @apply lg:justify-start;
}

.intro-title {
  @apply px-2 text-3xl;
  @apply md:mb-4 md:text-5xl;
  @apply lg:text-6xl;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  /* background: linear-gradient(90deg, #09203f 0%, #537895 100%); */ /* ^ Light mode */
  background: linear-gradient(270deg, #5a6a80 0%, #e7f5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
}

.intro-p {
  @apply px-2 py-4 sm:text-justify text-gray-400 mb-5;
}

.intro-images {
  @apply flex flex-col-reverse justify-center items-center;
  @apply sm:flex sm:flex-row sm:justify-center sm:items-center;
}

.intro-images-laptop {
  @apply mb-4;
  @apply w-full sm:w-2/3  md:w-2/3 lg:w-2/3; /* * xl: for extra large screens */
}

.intro-images-phone {
  @apply w-3/5 sm:w-1/3 md:w-1/5 lg:w-1/5;
}

.go {
  @apply h-11 mt-10 !mb-20 mx-auto;
  @apply sm:mb-20;
  @apply md:pb-10;
}

/* * FEATURES */
.features {
  background-color: #e7f5ff;
  @apply pt-8 pb-24;
}

.row {
  @apply grid grid-cols-1 place-items-center gap-8 mt-16;
  @apply xl:grid-cols-3 xl:px-48;
}
