.nav {
  @apply flex justify-center fixed top-0 w-full z-50;
  background-color: var(--nav-background);
  backdrop-filter: blur(5px);
  box-shadow: 15px -12px 20px 0px rgb(0 0 0 / 80%);
  transition: all 1s var(--animation-bezier);
}

.nav-container {
  @apply flex flex-row;
}

.nav-links {
  @apply relative p-4 rounded-full flex text-3xl;
  color: rgb(var(--primary-color));
  transition: all 0.3s var(--animation-bezier);
}

.nav-links:hover {
  transform: scale(1.3);
}

.nav-links:hover::after {
  content: "";
  @apply absolute top-0 left-0 w-full h-full rounded-full;
  background: #e1e1e11a;
  transform: scale(0.75);
}

@media screen and (hover: none) {
  .nav-links:hover {
    transform: scale(1);
  }

  .nav-links:active {
    background: #e1e1e11a;
  }

  .nav-links:hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
}

.navbar-logo {
  @apply absolute left-4 h-full flex gap-10 items-center;
}

.navbar-logo a {
  @apply h-full flex items-center;
}

.navbar-logo img {
  @apply w-2/5;
}

.navbar-logo button {
  @apply bg-transparent border-none text-4xl flex items-center justify-center left-24;
  @apply md:absolute md:left-20 lg:left-24;
}

.search {
  @apply absolute rounded-full flex items-center justify-end right-0;
  top: 50%;
  transform: translateY(-50%);
}

.search-form {
  @apply flex items-center justify-end;
}

.search-form input {
  @apply bg-transparent focus:outline-none text-lg pl-4 py-2 rounded-full;
  transform: translateX(21%);
  border: 1px solid rgb(var(--primary-color));
  color: var(--text-color);
}

.search-form button {
  @apply text-2xl border-none bg-transparent relative cursor-pointer;
  color: rgb(var(--primary-color));
}

.bar {
  transition: all 0.5s var(--animation-bezier);
  @apply invisible opacity-0 w-0;
}

.show-bar {
  @apply visible opacity-100 w-full;
}
