.editor {
  @apply min-h-screen;
}

.heading-creator {
  @apply text-center text-white mt-14 pb-10;
}

.editor-container:not(.monaco-editor) {
  @apply rounded-lg p-6 bg-slate-800 bg-opacity-80;
  @apply w-2/3 ml-auto m-auto text-center;
  @apply sm:w-1/2;
  @apply md:w-4/6 ml-auto mr-10;
  @apply lg:w-9/12 m-auto;
}

.monaco-editor * {
  font-family: Consolas;
  @apply !mx-0;
}

.monaco-editor .mtkz {
  display: contents !important;
}

.editor {
  @apply max-w-5xl;
  @apply lg:max-w-7xl;
  margin: 0 auto;
}

.editor-form {
  @apply m-auto text-center pb-4 bg-slate-800 bg-opacity-80;
}

.editor-form input {
  @apply w-1/2 rounded-lg focus:outline-0 focus:outline-none border-2 border-solid border-gray-400 p-2 mb-5;
}

.editor-form input::placeholder,
.editor-form select {
  @apply text-slate-100 text-opacity-30;
}

.editor-req::placeholder,
select.editor-req {
  @apply text-slate-100 text-opacity-20;
}

.show-editor-error {
  @apply text-red-500 opacity-100 visible text-center text-sm mb-4;
}

.editor-req {
  @apply !border-gray-700;
}

.inputs-required {
  @apply flex justify-between p-2 bg-slate-800 bg-opacity-80;
  border-radius: 0.5rem 0.5rem 0 0;
}

.inputs-required input {
  @apply block w-2/5 mb-0;
}

.inputs-required select {
  @apply w-2/5 rounded-lg focus:outline-0 focus:outline-none border-2 border-solid border-gray-400 p-2 mb-0;
}

.inputs-required input,
.inputs-required select {
  color: #ccc;
  background: #15151e;
}

input#filename,
input#description {
  @apply text-slate-100 p-3 mb-0;
  background-color: #15151e;
  border: 1.5px solid rgba(255, 255, 255, 0.137);
  box-shadow: 2px 4px 12px rgba(255, 255, 255, 0.137);
}

.input-optional {
  @apply flex justify-between items-center rounded-none px-5 pt-6;
}

input#filename {
  width: 20%;
}
