.main {
  @apply sm:mx-12;
  @apply lg:mx-14;
}

.intro {
  @apply mt-24 mx-4;
  @apply grid;
  @apply md:place-items-center;
  @apply lg:gap-x-8;
  @apply xl:grid-cols-2;
  /* background: linear-gradient(90deg, #09203f 0%, #537895 100%), #ffffff; */
  min-height: calc(100vh - 6rem);
  border-radius: 1.2rem 1.2rem 0 0;
}

.intro-text {
  @apply flex flex-col;
  @apply lg:justify-start;
}

.intro-text__title {
  @apply text-3xl text-transparent text-center my-6 bg-slate-50;
  @apply md:text-5xl md:my-10;
  @apply lg:text-6xl lg:my-12;
  @apply xl:text-left xl:text-8xl;
  background-color: #f6feff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 4px 4px rgb(0, 0, 0, 0.1);
}

.intro-text__p {
  @apply pt-6 sm:text-justify text-gray-300 text-xl mb-5 font-medium;
}

.intro-text__button {
  @apply mx-auto mt-14;
}

.intro-images {
  @apply my-auto pb-14 flex flex-col-reverse justify-center items-center;
  @apply sm:flex sm:flex-row sm:justify-center sm:items-center;
}

.intro-images__laptop {
  @apply mb-4;
  @apply w-full sm:w-2/3  md:w-2/3 lg:w-2/3; /* * xl: for extra large screens */
}

.intro-images__phone {
  @apply w-3/5 sm:w-1/3 md:w-1/5 lg:w-1/5;
}

/* * FEATURES */
.features {
  /* background-image: linear-gradient(170deg, #d0eeff, #f6feff 50%, #d0eeff); */
  @apply pt-8 pb-24 mb-10;
  margin-bottom: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  border-radius: 0 0 1.2rem 1.2rem;
  /* background: radial-gradient(#ffffff45, #ffffff00); */

  border-radius: 20px;
}

.intro-text__button {
  @apply xl:ml-0;
}

.row {
  @apply grid grid-cols-1 place-items-center gap-8 mt-16;
  @apply xl:grid-cols-3 xl:px-48;
}

.intro-text__button.btn.btn-animation {
  @apply bg-slate-900 text-white mb-14 w-2/5;
}
