.title-animation {
  @apply text-center text-2xl font-semibold my-8 mx-auto overflow-hidden block whitespace-nowrap;
  @apply sm:text-3xl;
  @apply md:text-6xl;
  @apply lg:text-6xl;

  color: rgb(var(--primary-color));
  letter-spacing: 0.05em;
  border-right: 4px solid;
}

.animate {
  opacity: 1;
  animation: typing 2s steps(50), blink 0.75s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-light);
  }
}
