.footer-container {
  background-position-y: 75%;
  min-height: 22rem;
  @apply flex flex-col justify-end bg-cover absolute bottom-0 w-full;
}

.footer-content {
  @apply flex justify-around pb-2;
  @apply md:justify-evenly;
}

.footer-container p a {
  @apply text-white no-underline text-xl p-2;
  @apply xl:text-2xl;
}

.footer-container span {
  @apply text-white font-medium mb-2;
}

.footer-copy {
  @apply text-center text-xs mb-4 font-normal;
  @apply lg:text-xs xl:text-sm;
  color: #fff;
}

#link-about {
  text-decoration: none;
}
