.footer-container {
  @apply flex flex-col justify-end bg-cover absolute bottom-0 w-full pt-6;
  background: rgb(var(--footer-color));
}

.footer-content {
  @apply flex justify-around pb-2;
  @apply md:justify-evenly;
}

.footer-container p a {
  @apply no-underline text-xl p-2;
  @apply xl:text-2xl;
  color: var(--text-white);
}

.footer-container span {
  @apply font-medium mb-2;
  color: var(--text-white);
}

.footer-copy {
  @apply text-center text-xs mb-4 font-normal;
  @apply lg:text-xs xl:text-sm;
  color: var(--text-white);
}

#link-about {
  text-decoration: none;
}
