.footer-container {
  background: url("../../assets/layered-waves-haikei.svg") no-repeat;
  background-position-y: 100%;
  min-height: 22rem;
  @apply flex flex-col justify-end bg-cover;
}

@media (max-width: 768px) {
  .footer-container {
    background: url("../../assets/layered-waves-haikei (1).svg") no-repeat;
    background-position-y: 100%;
    background-size: cover;
  }
}

.footer-content {
  @apply flex justify-around pb-2;
  @apply md:justify-evenly;
}

.footer-container p a {
  @apply text-white no-underline text-xl p-2;
  @apply xl:text-2xl;
}

.footer-container span {
  @apply text-white font-medium mb-2;
}

.footer-copy {
  @apply text-gray-400 text-center text-xs mb-4;
  @apply lg:text-xs xl:text-sm;
}

#link-about {
  text-decoration: none;
}
