.account {
  @apply flex flex-col items-center justify-start w-full min-h-screen relative pb-12;
  color: var(--text-light);
}

.account-title {
  @apply text-2xl font-bold mb-5 pb-5;
  @apply md:text-3xl lg:text-4xl xl:text-4xl;
  color: rgb(var(--primary-color));
}

.profile {
  @apply flex flex-col justify-center gap-12 mb-12 !items-stretch;
  @apply md:flex-row;
}

.profile-ui {
  @apply justify-between bg-transparent bg-opacity-50 rounded-2xl p-10 flex flex-col items-center w-full;
  border: 2px solid rgb(var(--primary-color));
  box-shadow: var(--shadow-light);
}

.profile-stats {
  @apply flex flex-col justify-between w-full;
}

.profile-stats-pic {
  @apply w-28 rounded-full mb-4;
  @apply sm:w-40 md:w-60 lg:w-72 rounded-full mb-4;

  border: 2px solid rgb(var(--primary-color), 0.3);
}

.profile-stats-heading {
  @apply mr-auto mb-2;
  color: var(--text-color);
}

.profile-stats-container {
  @apply grid grid-cols-2 gap-3 cursor-pointer;
}

.profile-stats-container div {
  @apply p-4 rounded-md;
  background-color: rgb(var(--primary-color), 0.1);
  color: rgb(var(--primary-color));
}

.profile-data h2 {
  color: rgb(var(--primary-color));
}

.stats-container {
  transition: all 0.4s;
}

.stats-container h3,
.stats-container h4 {
  @apply text-center select-none no-underline;
}

.stats-container:hover {
  box-shadow: var(--shadow-dark);
}

.stats-container h3 {
  @apply font-medium;
}

.profile-data-container {
  @apply flex flex-col items-start gap-4 w-full my-4;
}

.profile-data-item {
  @apply flex flex-col items-start mr-auto;
}

.profile-data-item h3 {
  @apply text-xl;
  color: var(--text-color);
}

.profile-data-item h4 {
  @apply text-lg;
  color: var(--text-dark);
}

.profile-btn-edit,
.profile-btn-sign-out {
  @apply mx-3 my-2 px-5 py-3 text-white font-bold rounded-md w-full;
  animation: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
  background-color: rgb(var(--primary-color), 0.8);
  border: 1px solid rgb(var(--primary-color));
}

.profile-btn-edit:hover,
.profile-btn-sign-out:hover {
  background-color: #fff;
  color: rgb(var(--primary-color));
}

.button-container {
  @apply flex flex-col items-center justify-center w-full;
}

.users-container {
  @apply flex flex-col items-start justify-center p-4 overflow-y-auto;
  max-height: 80vh;
  color: var(--text-color);
}

.users-container::-webkit-scrollbar {
  display: none;
}

button.button-follow {
  @apply w-auto h-10 text-sm;
}

.modal-users-title {
  text-transform: capitalize;
  color: var(--text-white);
}
