.user-info_link-profile {
  @apply text-slate-800;
  display: flex;
  text-decoration: none;
}

.user-info_username {
  @apply px-2 pt-2 text-slate-600 text-xl;
}

.user-info_time {
  @apply pl-3;
  color: rgb(var(--primary-color));
}

.avatar {
  @apply w-12 h-12 rounded-full;
}

.avatar-img {
  @apply rounded-full w-full;
}
