.title-animation {
  @apply text-center text-2xl font-semibold my-8 mx-auto;
  @apply sm:text-3xl;
  @apply md:text-6xl;
  @apply lg:text-6xl;

  background: linear-gradient(
    to left,
    rgb(255 94 66) 0%,
    rgb(255 169 155) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  letter-spacing: 0.05em;
  border-right: 4px solid;
}

.animate {
  opacity: 1;
  animation: typing 2s steps(50), blink 0.75s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #537895;
  }
}
