.aside {
  @apply hidden;
  @apply lg:w-3/12 xl:block xl:w-3/12 2xl:block 2xl:w-2/6;
}

@media (max-width: 1500px) {
  .aside {
    @apply hidden;
  }
}

.aside-title {
  @apply text-center;
}

.aside-container {
  @apply flex flex-col rounded-sm pr-12 mr-2 text-center items-center justify-start;
  height: 90%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.045); */
  /* background-color: #fff; */
}
/** Dark article **/

.item-container {
  @apply rounded-xl mb-6 font-medium shadow-2xl bg-transparent;
  border: 2px solid rgb(var(--primary-color), 0.3);
  color: var(--text-light);
  padding: 1rem 2rem;
  width: 80%;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4);
  /* color: #fff; */
}

.aside-view-yarn {
  @apply font-bold;
  text-align: end;
  color: var(--primary-color);
}

.heading-comments {
  @apply justify-around relative top-2.5 right-0.5;
  @apply flex gap-5 py-5 text-lg md:justify-center items-center;
  @apply sm:justify-center;
}

.heading-comments svg {
  @apply hidden;
  @apply sm:block md:block lg:block;
}

.heading-aside {
  @apply text-4xl font-bold text-center mb-10;
  color: rgb(var(--primary-color));
}
