.aside {
  @apply hidden;
  @apply md:w-3/12 lg:block lg:w-3/12 xl:block xl:w-3/12 2xl:block 2xl:w-2/6 sticky top-0;
}

.aside-title {
  @apply text-center;
}

.aside-container {
  @apply flex flex-col rounded-sm px-12 pt-10 mr-2 text-center items-center justify-start;
  height: 90%;
  /* background-color: rgba(0, 0, 0, 0.045); */
  /* background-color: #fff; */
}
/** Dark article **/
/* 
.item-container {
  @apply rounded-md my-2.5 text-slate-100 font-extralight shadow-2xl;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
} */

.item-container {
  @apply rounded-xl mb-6 font-medium shadow-2xl bg-transparent;
  border: 2px solid rgb(var(--primary-color), 0.3);
  color: var(--text-light);
  padding: 1rem 2rem;
  width: 80%;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4);
  /* color: #fff; */
}

.aside-view-yarn {
  @apply font-bold;
  text-align: end;
  color: var(--primary-color);
}

.heading-comments {
  @apply flex gap-5 py-5 text-lg justify-center items-center;
  @apply sm:justify-center;
}
