pre {
  padding: 1rem;
  overflow: auto;
  border-radius: 3px;
  max-width: 80ch;
}

.code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-family: Consolas;
}
