.tag-container {
  @apply pt-2;
}

.tag {
  @apply rounded-full mx-1 px-3 font-mono font-bold shadow-2xl select-none bg-gray-400;
}

.javascript {
  background-color: rgba(255, 230, 0, 0.712);
}

.html {
  background-color: rgb(255, 94, 66);
}

.css {
  background-color: rgb(0, 102, 255);
}
